body,html{
    height: 100%;
    font-family: "Georgia", sans-serif;
    line-height: 1.8em;
    font-size: 16px;
}


/* header */
.header{
    display: flex;
    width: 100%;
    height:60px;
    background-color:#f4f4f4;
    opacity: 0.5;
    transition: 2s;
    position: fixed;
    z-index: 1;
    
}
.logo{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

@media screen only and (max-width: 568px){
    .logo h1{
        font-size: 5px;;
    }
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    align-items: center;
}

.menu span{
    padding-right: 50px;
    
}

.menu span a{
    text-decoration: none;
    color: black;
}
.pimg1,.pimg2,.pimg3{
    position: relative;
    opacity: 0.9;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url(../img/cross.jpeg);
    min-height: 100%;
}

.pimg2{
    background-image: url(../img/bible.jpeg);
    min-height: 400px;
    
}

.pimg3{
    background-image: url(../img/crossonthehill.jpeg);
    min-height: 400px;
    
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    
}

.ptext{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 27px;
    letter-spacing: 8px;
    
}

.ptext .border{
    background-color: #111;
    color: white;
    padding: 30px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media only screen and (max-width: 568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

/* footer */

footer{
    height: 20%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}

footer h3{
   padding: 50px;
    font-size: 30px;
}